.scene[data-scene-name="end"]{
	
	p.center{
		text-align: center;
		margin-top: 3em;
	}
	.nextscene{
		opacity: 	1;
		z-index: 	1;
		position: 	static;
		left: 		0;
		transform: 	none;
		margin-left: auto;
		margin-right:auto;
		color: 		inherit;
		display: 	inline-block;
		text-decoration: none;
	}
}