.scene[data-scene-name="recruit"]{
	.requirements{
		margin-bottom: 	2em;
		p{
			position: 	relative;
			width: 		100%;
			display: 	block;
			margin: 	.25em 0;
		}
		.loop(@n, @i: 1) when (@i =< @n) {
			.requirement-@{i}{
				animation-delay: 	( @i * 0.25s );
			}
			.loop(@n, (@i + 1));
		}
		.loop(3);
	}
	
	.route{
		display: 	block;
		overflow: 	auto;
		height: 	200px;
		margin: 	-3em 0 0 0;
		mask: 		linear-gradient(to right, transparent, #000 20px, #000 ~"calc(100% - 20px)", transparent);
		padding: 	0 10px;
		img{
			display: 	block;
			width: 		auto;
			height: 	auto;
			max-height: 100%;
			min-height: 100%;
		}
	}
}