
.scene[data-scene-name="summary"]{
	&>div{
		position: 	absolute;
		top: 		50%;
		width: 		100%;
		transform: 	translateY(-50%);
	}
	
	h2, p{
		width: 		100%;
		text-align: center;
	}
	
	h2{
		font-weight:lighter;
		font-size: 	40px;
		font-size: 	7vh;
		line-height:1.2em;
		margin-top: 0;
		letter-spacing: 0.15em;
		white-space:nowrap;
		span{
			display: 	block;
		}
	}
	
	.final{
		font-size: 	24px;
	}
	
	h2:first-of-type{
		@delay-1: 	300ms;
		span{
			animation-delay: 	@delay-1;
		}
		span+span{
			animation-delay: 	(@delay-1 + 750ms);
		}
		span+span+span{
			animation-delay: 	(@delay-1 + 750ms * 2);
		}
		
		&+h2{
			span{
				animation-delay: 	(@delay-1 + 750ms * 3 + 1250);
			}
			span+span{
				animation-delay: 	(@delay-1 + 750ms * 3 + 1250 + 750);
			}
			
			&+.final{
				animation-delay: 	(@delay-1 + 750ms * 3 + 1250 + 750 + 1250);
			}
		}
	}
	
	p.center{
		text-align: center;
		margin-top: 3em;
	}
	.nextscene{
		opacity: 	1;
		z-index: 	1;
		position: 	static;
		left: 		0;
		transform: 	none;
		margin-left: auto;
		margin-right:auto;
		color: 		inherit;
		display: 	inline-block;
		text-decoration: none;
	}
	
	@media screen and (orientation:landscape){
		br{
			display: 	none;
		}
		h2{
			font-size: 	36px;
			font-size: 	10vh;
		}
		.final{
			font-size: 	6vh;
		}
	}
}