
.scene[data-scene-name="summary"]{
	h2{
		font-weight:lighter;
		font-size: 	48px;
		line-height:1.1em;
		margin-top: 0;
		letter-spacing: 0.15em;
		span{
			display: 	inline-block;
		}
	}
	
	.final{
		font-size: 	24px;
	}
	
	p.center{
		text-align: center;
		margin-top: 3em;
	}
	.nextscene{
		opacity: 	1;
		z-index: 	1;
		position: 	static;
		left: 		0;
		transform: 	none;
		margin-left: auto;
		margin-right:auto;
		color: 		inherit;
		display: 	inline-block;
		text-decoration: none;
	}
	
	@media screen and (orientation:landscape){
		br{
			display: 	none;
		}
	}
}